include:
  - project: cloud/integrations/ci
    file:
      - default.yml
      - workflows/feature-branches.yml

variables:
  GOMODCACHE: $CI_PROJECT_DIR/.cache/go-mod
  GOCACHE: $CI_PROJECT_DIR/.cache/go-build

cache:
  key:
    files:
      - go.mod
      - go.sum
  paths:
    - $GOMODCACHE

build:
  stage: build
  image: golang:1.23
  script:
    - go env
    - go mod download

test:lint:
  stage: test
  image: golangci/golangci-lint:v1.62
  variables:
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.cache/golangci-lint
  cache:
    key:
      files:
        - go.mod
        - go.sum
    paths:
      - $GOLANGCI_LINT_CACHE
  script:
    - golangci-lint run -v --timeout 5m

test:unit:
  stage: test
  image: golang:1.23
  script:
    - go test -v -coverprofile=coverage.txt -covermode count ./...
    - go get github.com/boumenot/gocover-cobertura
    - go run github.com/boumenot/gocover-cobertura < coverage.txt > coverage.xml
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: "/coverage: \\d+.\\d+% of statements/"
