---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^(deploy/.*|chart/templates/.*)$

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: ^(chart/.snapshots/.*)$

  - repo: local
    hooks:
      - id: helm-lint
        name: helm-lint
        description: Helm lint
        language: system
        entry: make -C chart lint
        pass_filenames: false
        files: ^chart/

  - repo: local
    hooks:
      - id: helm-snapshots
        name: update-helm-snapshots
        description: Update Helm snapshots
        language: system
        entry: make -C chart snapshots
        pass_filenames: false
        files: ^chart/

  - repo: local
    hooks:
      - id: deploy-manifests
        name: update-deploy-manifests
        description: Update deploy manifests
        language: system
        entry: make -C chart deploy-manifests
        pass_filenames: false
        files: ^(chart/|deploy/)

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.7.4]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|chart/templates/.*|chart/.snapshots/.*|docs/reference/load_balancer_.*\.md|)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint-full
        language_version: 1.25.5 # renovate: datasource=golang-version depName=go

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: go generate ./...
        pass_filenames: false
        files: (^\.md\.tmpl|\.go$)
