# Annotations

This page contains all annotations, which can be found at a load balancer.

Read-only annotations are set by the HCCM.

Enums are depicted in the `Type` column and possible options are separated via the pipe symbol `|`.

{{.AnnotationsTable}}
