# Load Balancer Environment Variables

This page contains all environment variables, which can be specified to configure the Load Balancer controller of HCCM. Most of them are used to set global defaults.

- Enums are depicted in the `Type` column and possible options are separated via the pipe symbol `|`.

{{.AnnotationsTable}}
