---
name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - uses: actions/cache@v4
        with:
          path: ~/.cache/golangci-lint
          key: pre-commit-golangci-lint|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}|${{ hashFiles('**/*.go') }}
          restore-keys: |
            pre-commit-golangci-lint|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}|
            pre-commit-golangci-lint|${{ env.pythonLocation }}|
            pre-commit-golangci-lint|

      - uses: pre-commit/action@v3.0.1

  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - run: go test -v -race -coverprofile=coverage.txt ./...

      - uses: codecov/codecov-action@v5
        if: >
          !startsWith(github.head_ref, 'renovate/') &&
          !startsWith(github.head_ref, 'releaser-pleaser--')
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit

  deploy-manifests:
    name: Check deployment manifests
    runs-on: ubuntu-latest
    steps:
      - uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          setup-tools: |
            helm
          helm: v3.11.2

      - uses: actions/checkout@v5
      - name: Generate manifests from helm chart
        run: scripts/update-deployment-yamls.sh

      - name: Check for diff
        run: git diff --exit-code -- deploy/

      - name: Show warning
        if: ${{ failure() }}
        run: echo "::error title=Deployment Manifests outdated::Please run scripts/update-deployment-yamls.sh and commit the changes to deploy/"

  helm-chart:
    name: Verify snapshots
    runs-on: ubuntu-latest
    steps:
      - uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          setup-tools: |
            helm
          helm: v3.19.1 # renovate: datasource=github-releases depName=helm/helm

      - uses: actions/checkout@v5

      - name: Verify
        run: |
          scripts/update-helm-snapshots.sh
          git diff --exit-code -- chart/.snapshots/

      - name: Show warning
        if: failure()
        run: echo "::error title=Helm Snapshots outdated::Please run hack/update-helm-snapshots.sh and commit the changes to chart/.snapshots/"

      - name: Helm Lint
        run: helm lint chart/
