---
name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  helm:
    runs-on: ubuntu-latest
    name: Helm Validation ${{ matrix.helm }}
    strategy:
      matrix:
        helm:
          - v3.19.2 # renovate: datasource=github-releases depName=helm/helm versioning=same-major
          - v4.0.0 # renovate: datasource=github-releases depName=helm/helm versioning=same-major

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          setup-tools: |
            helm
          helm: ${{ matrix.helm }}

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: none || true

      # Run with pre-commit to get diff check
      - name: helm-validation
        run: |
          pre-commit run helm-lint --all
          pre-commit run helm-snapshots --all
          pre-commit run deploy-manifests --all

  pre-commit:
    runs-on: ubuntu-latest
    env:
      # Helm lints are executed in a separate action with a version matrix
      SKIP: "helm-lint,helm-snapshots,deploy-manifests"
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - uses: actions/cache@v5
        with:
          path: ~/.cache/golangci-lint
          key: pre-commit-golangci-lint|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}|${{ hashFiles('**/*.go') }}
          restore-keys: |
            pre-commit-golangci-lint|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}|
            pre-commit-golangci-lint|${{ env.pythonLocation }}|
            pre-commit-golangci-lint|

      - uses: pre-commit/action@v3.0.1
