name: Run e2e tests
on: [ push ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s: [ 1.17.14, 1.18.12, 1.19.4 ]
        networks: [yes, no]
    name: ${{ matrix.k8s }}- networks - ${{ matrix.networks }}
    steps:
    - uses: actions/setup-go@v2
      with:
        go-version: '1.15'
    - uses: actions/checkout@master
    - name: Run tests
      env:
        K8S_VERSION: ${{ matrix.k8s }}
        TTS_TOKEN: ${{ secrets.TTS_TOKEN }}
        USE_SSH_KEYS: ${{ secrets.USE_SSH_KEYS }}
        USE_NETWORKS: ${{ matrix.networks }}
      run: |
        export HCLOUD_TOKEN=$(./scripts/get-token.sh)
        cat resp.json
        go test $(go list ./... | grep e2etests) -v -timeout 60m
        ./scripts/delete-token.sh $HCLOUD_TOKEN
